@media all and (max-width: 414px) and (max-height: 736px) {
    body {
        padding: 0;
        margin: 0;
    }
    main, article, section, header {
        position: relative;
    }
    header {
        width: 100%;
        height: 76px;
        background: linear-gradient(to bottom, #000000, #666699);
    }
    header button{
        font-size: 44px;
        top: 50%;
        transform: translateY(-50%);
        color: white;
    }
    .header-button {
        border: none;
        outline: none;
        cursor: pointer;
        background: none;
        width: 50px;
    }
    .float-right {
        position: absolute;
        right: 20px;
    }
    .float-left {
        position: absolute;
        left: 20px;
    }
    .header-title {
        position: absolute;
        font-size: 32px;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    section {
        width: 100%;
        margin: 0 auto;
    }
    .list-line {
        position: relative;
        margin: 10px auto;
        width: 60%;
        border-top: 2px solid #666699;;
    }
    section p {
        position: relative;
        display: inline-block;
        font-size: 23px;
        bottom: 5px;
        margin: 20px 0;
        left: 35px;
    }
    .p-todo {
        color: #666699;
    }
    .p-comp {
        color: #CCCCCC;
        text-decoration: line-through;
    }
    .todo-status {
        position: relative;
        display: inline-block;
        width: 26px;
        height: 26px;
        margin: 20px 31px 20px 0;
        float: right;
    }

    .none-pageshow {
        position: relative;
        width: 100%;
        top: 200px;
        font-size: 70px;
        color: #CCCCCC;
        text-align: center;
        margin: 0;
    }


    .dis {
        display: none;
    }
    aside {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
    }
    .add-input-div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 240px;
    }
    .add-input {
        position: relative;
        border: none;
        outline: none;
        cursor: pointer;
        height: 25px;
        font-size: 20px;
        width: 200px;
    }
    .add-input-submit {
        position: relative;
        left: 15px;
        top: 10px;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 50px;
    }
    .list-status {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        font-size: 20px;
        color: #CCCCCC;
    }
}
